#color-picker{
    border-radius: 100%;
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
	-webkit-appearance: none;
	z-index: 1000;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;	
}
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

@media print {
	.styleBar {
		display: none !important;
    }

    #textareaContainer {
        box-shadow: none !important;
        background: white !important;
    }
    
    .selectable-textarea {
        display: block !important;
        border: '0px solid black' !important;
        outline: 'none' !important;
        width: auto !important;
        height: auto !important;
        overflow: visible !important;
    }
    
}

#textarea:focus {
   outline: none;
}

.link-panel {
    padding: 10px
}

.MuiOutlinedInput-inputMarginDense {
    padding: 8px !important;
}

#add-image-url {
    width: 100%;
    min-width: 500px;
}

.image-dialog {
    padding: 0 !important;
}

