#color-picker{
    border-radius: 100%;
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
	-webkit-appearance: none;
	z-index: 1000;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;	
}
#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

@media print {
	.styleBar {
		display: none !important;
    }
    
    .selectable-textarea {
        border: '0px solid black' !important;
        outline: 'none' !important;
    }
}