.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > h2 {
  width: 90%;
}

.App-header > .material-icons {
  cursor: pointer;
}

@media print {
	header{
		display: none !important;
  }
  .App {
    background-color: white !important;
  }
}
