.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1200px;
  overflow: auto;
}

.App-header {
  min-height: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header > h3 {
  width: 90%;
  letter-spacing: 5px;
}

.App-header > .material-icons {
  cursor: pointer;
}

@media print {
	header{
		display: none !important;
  }
  .App {
    background-color: white !important;
  }
}
